.location-card {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* border: 1px solid #000; */
    transition: .5s ease;
}

.location-card-header {
    color: #fff;
    max-width: 30rem;
    margin: 0;
    padding: 10px;
}

.location-card-subtitle {
    color: #000;
}

.location-card:hover {
    transition: .5s ease;
    box-shadow: 4px 4px 6px rgb(71, 59, 59);
}

.location-card-text {
    color: #000;
    font-weight: bold;
}

@media only screen and (max-width: 760px) {
    iframe {
        max-width: 700px;
        flex-direction: column;
        border: 1px solid red;
    }
}

hr {
    height: 2px;
    width: 90%;
    background-color: #fff;
}