#card-havoc, #card-taijutsu, #card-scorpion {
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}

#class-card-header {
    background-color: #000;
    width: 100%;
    color: #fff;
}

#class-card-logo {
    max-width: 400px;
    max-height: 400px;
}

.class-card-footer {
    height: auto;
}

.class-card-button {
    background: var(--website-red);
    padding: 10px 20px;
    font-weight: bold; 
}
.class-card-button:hover {
    background-color: #000;
}