@import url("../../../styles/theme.css");

/* CLASSES */

.kids-classes-card, .adults-classes-card {
    background-color: #000000b6;
    max-height: 300px;
    width: 300px;
    margin: auto;
    padding: 30px;
    justify-content: center;
    align-content: center;    
}

.kids-classes-card:hover, .adults-classes-card:hover {
    background-color: #ed1c24;
}

/* VENUES */

#bucks, #herts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* FREE TRIAL */

#interested-card {
    background: var(--aqua-emerald-gradient);
}

.interested-card-header, .interested-card-subtitle {
    color: #000;
}

.interested-card-body {
    margin: auto;
}

