.kids-classes-card, .adults-classes-card {
    background-color: #000000b6;
    border-radius: 20px;
    border: #ed1c24 solid 4px;
    box-shadow: #530808 2px 2px 4px;
    max-height: 300px;
    width: 300px;
    margin: auto;
    padding: 30px;
    justify-content: center;
    align-content: center;    
}

.kids-classes-card:hover, .adults-classes-card:hover {
    background-color: #ed1c24;
}

.card-header-fees {
    display: flex;
    flex-direction: column;
}
.fees-card {
    border-radius: 10px;
    border: #000 solid 4px;
    box-shadow: #530808 2px 2px 4px;
    height: auto;
    color: #000;
    justify-content: center;
    align-content: center;    
}

.fees-list {
    list-style-type: square;
    justify-content: center;
    align-content: center;
    text-align: left;
}

h6 {
    font-weight: bold;
}

#standard {
    background-color: #f2ff3e;
}

#premium {
    background-color: #fdc529;
}

#dragons {
    background-color: #98FB98;
}

#juniors {
    background-color: #A33030;
    color: #fff;
}

@media only screen and (max-width: 575px) {
    .fees-list {
        text-align: center;
        list-style-position: inside;
        display: inline;
    }
}