/* fees */

.card-header-fees {
    color: #fff;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.fees-card {  
    height: auto;
    color: #000;
    justify-content: center;
    align-content: center;    
}

.fees-list {
    list-style-type: square;
    justify-content: center;
    align-content: center;
    text-align: left;
}

h6 {
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px #000;
}

#standard {
    background-color: #ffe600;
    color: #000;
    border: none;
}
#standard:hover, #premium:hover, #dragons-fee:hover, #juniors-fee:hover {
    transform: none;
}
#standard h6 {
    color: #000;
    text-shadow: none;
    border: none;
}

#premium {
    background-color: #2997fd;
    color: #fff;
    border: none;
}

#dragons-fee {
    background-color: #98FB98;
    color: #000;
    border: none;
}
#dragons-fee h6 {
    color: #000;
    text-shadow: none;
}

#juniors-fee {
    background-color: #A33030;
    color: #fff;
    border: none;
}

@media only screen and (max-width: 575px) {
    .fees-list {
        text-align: center;
        list-style-position: inside;
        display: inline;
    }
}