/* fees */

.card-header-fees {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #000;
}
.fees-card {
    border-radius: 10px 10px 0 0;
    border: #000 solid 4px;
    height: auto;
    color: #000;
    justify-content: center;
    align-content: center;    
}

.fees-list {
    list-style-type: square;
    justify-content: center;
    align-content: center;
    text-align: left;
}

h6 {
    font-weight: bold;
}

#standard {
    background-color: #f2ff3e;
}

#premium {
    background-color: #29e4fd;
}

#dragons {
    background-color: #98FB98;
}

#juniors {
    background-color: #A33030;
}

@media only screen and (max-width: 575px) {
    .fees-list {
        text-align: center;
        list-style-position: inside;
        display: inline;
    }
}