#about-hero {
    background:  var(--aluminium-dark-red-gradient);    
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
}

#about-hero h1 {
    background-color: #00000075;
    /* padding-top: 20px; */
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    text-shadow: 2px 2px #000;
}

.about-row {
    display: flex;
    width: 100%;    
    background-color: rgb(173, 5, 5);
    margin: 0;
    padding: 0;
}

.card-group-col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

section #havoc, section #scorpion {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

#about-havoc, #about-scorpion {
    padding: 10px 20px;
}

#about-havoc ul, #about-scorpion ul {
    list-style-type: none;
}

#havoc-video-container {
    width: 100%;
    max-height: 600px;
    overflow: hidden;    
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

#video {
    margin-top: -900px;
    margin-left: -400px;
}

#scorpion-video {
    margin-top: -700px;
}

@media only screen and (max-width: 800px) {
    #video {
        margin-left: -500px;
        overflow-x: visible;
    }
    #about-havoc ul, #about-scorpion ul {
        text-align: left;
    }
}

@media only screen and (max-width: 500px) {
    #video, #scorpion-video {
        width: 500px;
        height: auto;
    }
}

#location-maps {
    background-image: url("../../assets/backgrounds/dojo-bg.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}