#about-hero {
    background-image: url("../../assets/logos/newlogo.png");
    background-size: contain;
    background-repeat: round;
    background-position: center;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#about-hero h1 {
    background-color: #00000075;
    padding-top: 20px;
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    text-shadow: 2px 2px #000;
}

.about-row {
    display: flex;
    width: 100%;    
    background-color: beige;
}

.card-group-col {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}