.navbar {
    padding: 0 20px;
    position: sticky;
    top: 0;
    transition: all 1s ease-in-out;
    min-width: 285px;
    background: inherit;
}

.nav-logo {
    max-height: 150px;
    width: auto;
    padding: 10px;
    transition: 1s ease; 
}

.zks {
    font-family: 'Patua One', cursive;
    font-size: 64px;
    letter-spacing: 0.8rem;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 2px;
    margin-bottom: -25px;
}

.nav-logo-p {
    color: #fff;
    font-size: 24px;
    text-shadow: #000 2px 2px;
    letter-spacing: 1.1px;
}

.nav-toggler {
    background-color: #fff;
    border-radius: 100%;
    padding: 10px;
}

.nav {
    width: 100%;
    color: #fff;
    font-size: 24px;
    margin: 20px;
    justify-content: space-evenly;
}
.nav a.active {
    background: var(--aqua-emerald-gradient);
    color: #000;
    padding: 5px 10px;
    border-radius: 10px;
}

@media only screen and (max-width: 990px) {
    .offcanvas-menu {
        background: var(--aluminium-dark-red-gradient);
        color: #fff;
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    .nav-logo {
        transform: scale(0.8);
        transition: 1s ease; 
        margin-left: -40px;
    }
    .navbar {
        justify-content: space-between;
    }    
}

/* #nav-dropdown-menu {
    background-color: #411a1a;
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
} */

#dropdown-basic-button {
    background-color: inherit;
    border: none;
    font-size: 24px;
    color: #fff;
    margin-top: -8px;
}

.dropdown {
    padding: 0;
}



.offcanvas-header, #nav-dropdown-menu {
    text-align: center;
}
.offcanvas-header {
    background-color: #fff;
    color: #000;
}