@import url("../../../styles/theme.css");

#schedule_base_head {
    background: var(--website-red);
    width: 100%;
    height: 85px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}

#schedule_base_head th:first-child {
    background-color: #000;
    width: 85px;
    font-size: 2rem;
}

#schedule_base_head th {
    border: 1px solid #fff;
    width: 85px;
}

.grid-container {
    display: grid;
    grid-template-areas: 
       "header header header header header header header header"
       "td td td td td td td td";
    grid-template-columns: repeat(8, 1fr);
    
}

