.footer {
    background-color: #000;  
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");  
    width: 100%;
    color: #fff;
    margin: auto;
}

.footer-bar-top {
    background-color: #ed1c24;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
    height: 30px;
    width: 100%;
}

.contact-bar {
    background-color: #ed1c24;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
    color: #fff;
    display: flex;
    max-height: 50px;
    width: 100%;
    justify-content: center;
    align-content: center;
    padding: 5px 0;
}

.contact-bar > p {
    margin: 0 20px;
}

.contact-link:hover {
    color:#000;
}

.footer-card-group {
    width: 100%;
    align-content: space-between;    
    display: flex;
    margin: auto;
    padding: 10px;
    justify-content: center;
}

#footer-card {
    background: transparent;
    border: none;
    width: auto;
    min-height: 200px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.footer-card:hover {
    transform: none;
    box-shadow: none;
}

.footer-card-header { 
    background-color: #000;
    width: 100%;
} 

.footer-copyright-wrapper {
    width: 100%;
    background-color: #000;
}

.footer-logo-col {
    background: transparent;
    width: 100%;
}
.footer-copyright-col {
    width: 100%;
}

.social-icon-col { 
    margin: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #ed1c24;
}

.fa-brands {
    width: auto;
    margin: 10px;
    transform: scale(2);
}

.fa-brands:hover {
    transform: scale(2.2);
}

.address {
    text-align: center;
    line-height: 1.8rem;
}

.social {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contact {
    text-align: right;
}

.bottom-row {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;  
    transform: scale(0.8);  
    background-color: #000;
}

.footer-copyright {
    display: flex;
    width: 100%;
    margin: 0;
}

@media only screen and (max-width: 500px) {
    .address {
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        justify-content: center;
        align-content: center;
    }

    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;        
    }

    .footer-card {
        width: 100%;
    }
    .social > h3 {
        flex-direction: column;
    }
    .social {
        flex-direction: row;
    }

    .brand-icon {
        transform: scale(2);
        transition: all .5s ease;
        margin: 20px;
    }
    
}