.header {
    background-color: #000;    
    background-image: url("../../../assets/backgrounds/clean-textile.png");
    border-bottom: #6b1316 4px solid; 
}

.header-bar-top {
    background-color: #ed1c24;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
    height: 30px;
}

.contact-bar {
    background-color: #ed1c24;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
    color: #fff;
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contact-bar > p {
    margin: 0 20px;
}

.contact-link:hover {
    color:#000;
}

@media only screen and (max-width: 450px) {
    .contact-link {
        font-size: 10px;
    }
    .contact-bar {
        margin: 5px auto;
        justify-content: center;
        align-items: center;
    }
}