.App {
  text-align: center;
}

.card-header {
  background-color: #282c34;
  text-align: center;
  color: #fff;
}

.to-top-btn {
  visibility: hidden;
  margin: 20px auto;
}

.to-top-btn-icon {
  visibility: visible;
  color: #ed1c24;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 50px;
}

/* section {
  margin-bottom: 10px;
  border-radius: 10px;
} */